{% include "incl/header.html" %}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1>About</h1>
        The best way to learn how to write a web application is to look at other, existing web applications.
        Unfortunatelly most of the websites are propriatery. Even if they use Open Source technolgy.
        <p>
        On these pages you will find a collections of websites categorized by technology where the full
        source code of the websites is available on a public version control system such as GitHub.
        These sites allow you to learn from their code and even to send improvement.
        <p>
        If you are missing a technology or a website from our list, please open a ticket on
        our <a href="https://github.com/szabgab/open-source-websites">GitHub project page</a> and we'll look into it.
    </div>
    <div class="col-md-1"></div>
</div>
{% include "incl/footer.html" %}
