{% include "incl/header.html" %}
      <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
          <h1>{{title}}</h1>
          List of websites that are open source.<br>
          That is where the source code is available on GitHub or on some other public version control system
          and where you can learn from the code, improve it, and make a contribution.
          </div>
          <div class="col-md-1"></div>
      </div>

      <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-10">
              <h2>Technologies</h2>
              <ul>
               {% for tag in tag_list %}
                  <li><a href="/technology/{{ tag }}">{{ tag }} ({{ tags[tag]['count'] }})</a></li>
               {% endfor %}
               </ul>
          </div>
          <div class="col-md-1"></div>
      </div>
{% include "incl/footer.html" %}
